.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

h1 {
  color: #273b87;
}

h5 {
  white-space: pre-wrap;
}

.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: scroll;
  }
.table-wrapper-scroll-y {
  display: block;
  }

.inactive{
  display: none;
  }
.active {
  display:block;
}  